#//////////////////////////////////////////////////////////////////////////////////
#// vim:set shiftwidth=3 softtabstop=3 expandtab:
#// Engineer:      Ivan Perehiniak
#//                iv.perehinik@gmail.com
#// Project:       SDRAM_Controller 
#// Revision:      1
#// Data:          2019.05.01
#// Board:         ALINX AX309
#// FPGA:          Spartan 6
#/////////////////////////////////////////////////////////////////////////////////

NET "CLK"      LOC = "T8";
NET "But1"     LOC = "C3";#button1
NET "But2"     LOC = "D3";#button2
NET "But3"     LOC = "E4";#button3
NET "But4"     LOC = "E3";#button4
NET "LED1"     LOC = "P4";#LED1
NET "LED2"     LOC = "N5";#LED2
#NET "LED3"    LOC = "P5";#LED3
#NET "LED4"    LOC = "M6";#LED4

#//SDRAM
NET "DB<0>"    LOC = "A3";
NET "DB<1>"    LOC = "B3";
NET "DB<2>"    LOC = "A2";
NET "DB<3>"    LOC = "B2";
NET "DB<4>"    LOC = "B1";
NET "DB<5>"    LOC = "C2";
NET "DB<6>"    LOC = "C1";
NET "DB<7>"    LOC = "D1";
NET "DB<8>"    LOC = "H5";
NET "DB<9>"    LOC = "G5";
NET "DB<10>"   LOC = "H3";
NET "DB<11>"   LOC = "F6";
NET "DB<12>"   LOC = "G3";
NET "DB<13>"   LOC = "F5";
NET "DB<14>"   LOC = "F3";
NET "DB<15>"   LOC = "F4";
NET "ADR<0>"   LOC = "J3";
#------------------------
NET "ADR<1>"   LOC = "J4";
NET "ADR<2>"   LOC = "K3";
NET "ADR<3>"   LOC = "K5";
NET "ADR<4>"   LOC = "P1";
NET "ADR<5>"   LOC = "N1";
NET "ADR<6>"   LOC = "M2";
NET "ADR<7>"   LOC = "M1";
NET "ADR<8>"   LOC = "L1";
NET "ADR<9>"   LOC = "K2";
NET "ADR<10>"  LOC = "K6";
NET "ADR<11>"  LOC = "K1";
NET "ADR<12>"  LOC = "J1";
#-----------------------
NET "BA<0>"    LOC = "G6";
NET "BA<1>"    LOC = "J6";
#-----------------------
NET "DQM<0>"   LOC = "E2";
NET "DQM<1>"   LOC = "H1";
#-----------------------
NET "nCAS"     LOC = "F2";
NET "CKE"      LOC = "H2";
NET "nRAS"     LOC = "F1";
NET "nWE"      LOC = "E1";
NET "nCS"      LOC = "G1";
NET "SD_CLK"   LOC = "H4";
#END SDRAM
#-----------------------
#LED
NET "LED_S<7>" LOC = "C7"; #A
NET "LED_S<6>" LOC = "E6"; #B
NET "LED_S<5>" LOC = "C5"; #C
NET "LED_S<4>" LOC = "F7"; #D
NET "LED_S<3>" LOC = "D6"; #E
NET "LED_S<2>" LOC = "E7"; #F
NET "LED_S<1>" LOC = "D5"; #G
NET "LED_S<0>" LOC = "C6"; #dp
#-----------------------
NET "LED_sel<5>" LOC = "D9";
NET "LED_sel<4>" LOC = "E10";
NET "LED_sel<3>" LOC = "F10";
NET "LED_sel<2>" LOC = "F9";
NET "LED_sel<1>" LOC = "E8";
NET "LED_sel<0>" LOC = "D8";