BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "nreset"  SITE  "23";
LOCATE COMP "clk"     SITE  "105";
LOCATE COMP "uart_rx" SITE  "112";
LOCATE COMP "uart_tx" SITE  "114";

LOCATE COMP "LED[0]"   SITE  "20";
LOCATE COMP "LED[1]"   SITE  "19";
LOCATE COMP "LED[2]"   SITE  "17";
LOCATE COMP "LED[3]"   SITE  "15";

LOCATE COMP "DB[0]"    SITE  "92";
LOCATE COMP "DB[1]"    SITE  "91";
LOCATE COMP "DB[2]"    SITE  "89";
LOCATE COMP "DB[3]"    SITE  "86";
LOCATE COMP "DB[4]"    SITE  "85";
LOCATE COMP "DB[5]"    SITE  "84";
LOCATE COMP "DB[6]"    SITE  "83";
LOCATE COMP "DB[7]"    SITE  "82";
LOCATE COMP "DB[8]"    SITE  "93";
LOCATE COMP "DB[9]"    SITE  "94";
LOCATE COMP "DB[10]"   SITE  "95";
LOCATE COMP "DB[11]"   SITE  "96";
LOCATE COMP "DB[12]"   SITE  "97";
LOCATE COMP "DB[13]"   SITE  "98";
LOCATE COMP "DB[14]"   SITE  "99";
LOCATE COMP "DB[15]"   SITE  "100";
#------------------------
LOCATE COMP "ADR[0]"   SITE  "70";
LOCATE COMP "ADR[1]"   SITE  "69";
LOCATE COMP "ADR[2]"   SITE  "68";
LOCATE COMP "ADR[3]"   SITE  "67";
LOCATE COMP "ADR[4]"   SITE  "57";
LOCATE COMP "ADR[5]"   SITE  "58";
LOCATE COMP "ADR[6]"   SITE  "59";
LOCATE COMP "ADR[7]"   SITE  "60";
LOCATE COMP "ADR[8]"   SITE  "61";
LOCATE COMP "ADR[9]"   SITE  "62";
LOCATE COMP "ADR[10]"  SITE  "71";
LOCATE COMP "ADR[11]"  SITE  "63";
LOCATE COMP "ADR[12]"  SITE  "65";
#-----------------------
LOCATE COMP "BA[0]"    SITE  "74";
LOCATE COMP "BA[1]"    SITE  "73";
#-----------------------
LOCATE COMP "DQM[0]"   SITE  "81";
LOCATE COMP "DQM[1]"   SITE  "103";

LOCATE COMP "nCAS"     SITE "77" ;
LOCATE COMP "CKE"      SITE "87" ;
LOCATE COMP "nRAS"     SITE "76" ;
LOCATE COMP "nWE"      SITE "78" ;
LOCATE COMP "nCS"      SITE "75" ;
LOCATE COMP "SD_CLK"   SITE "104" ;