BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "nreset" SITE "23" ;
LOCATE COMP "led" SITE "20" ;
LOCATE COMP "clk" SITE "105" ;
LOCATE COMP "uart_rx" SITE "112" ;
LOCATE COMP "uart_tx" SITE "114" ;

#LOCATE COMP "LED_0"    SITE  "19";
#LOCATE COMP "LED_1"    SITE  "17";
#LOCATE COMP "LED_2"    SITE  "15";
#DEFINE PORT GROUP "LED" "LED_2" "LED_1" "LED_0"; 

LOCATE COMP "DB_0"    SITE  "92";
LOCATE COMP "DB_1"    SITE  "91";
LOCATE COMP "DB_2"    SITE  "89";
LOCATE COMP "DB_3"    SITE  "86";
LOCATE COMP "DB_4"    SITE  "85";
LOCATE COMP "DB_5"    SITE  "84";
LOCATE COMP "DB_6"    SITE  "83";
LOCATE COMP "DB_7"    SITE  "82";
LOCATE COMP "DB_8"    SITE  "93";
LOCATE COMP "DB_9"    SITE  "94";
LOCATE COMP "DB_10"   SITE  "95";
LOCATE COMP "DB_11"   SITE  "96";
LOCATE COMP "DB_12"   SITE  "97";
LOCATE COMP "DB_13"   SITE  "98";
LOCATE COMP "DB_14"   SITE  "99";
LOCATE COMP "DB_15"   SITE  "100";
DEFINE PORT GROUP "DB" "DB_15" "DB_14" "DB_13" "DB_12" "DB_11" "DB_10" "DB_9" "DB_8" "DB_7" "DB_6" "DB_5" "DB_4" "DB_3" "DB_2" "DB_1" "DB_0";
#------------------------
LOCATE COMP "ADR_0"   SITE  "70";
LOCATE COMP "ADR_1"   SITE  "69";
LOCATE COMP "ADR_2"   SITE  "68";
LOCATE COMP "ADR_3"   SITE  "67";
LOCATE COMP "ADR_4"   SITE  "57";
LOCATE COMP "ADR_5"   SITE  "58";
LOCATE COMP "ADR_6"   SITE  "59";
LOCATE COMP "ADR_7"   SITE  "60";
LOCATE COMP "ADR_8"   SITE  "61";
LOCATE COMP "ADR_9"   SITE  "62";
LOCATE COMP "ADR_10"  SITE  "71";
LOCATE COMP "ADR_11"  SITE  "63";
LOCATE COMP "ADR_12"  SITE  "65";
DEFINE PORT GROUP "ADR" "ADR_7" "ADR_6" "ADR_5" "ADR_4" "ADR_3" "ADR_2" "ADR_1" "ADR_0";
#-----------------------
LOCATE COMP "BA_0"    SITE  "74";
LOCATE COMP "BA_1"    SITE  "73";
DEFINE PORT GROUP "BA" "BA_1" "BA_0";
#-----------------------
LOCATE COMP "DQM_0"   SITE  "81";
LOCATE COMP "DQM_1"   SITE  "103";
DEFINE PORT GROUP "DQM" "DQM_1" "DQM_0";
#-----------------------
LOCATE COMP "nCAS"     SITE  "77";
LOCATE COMP "CKE"      SITE  "87";
LOCATE COMP "nRAS"     SITE  "76";
LOCATE COMP "nWE"      SITE  "78";
LOCATE COMP "nCS"      SITE  "75";
LOCATE COMP "SD_CLK"   SITE  "104";
#END SDRAM